body {
  font-family: Times new roman, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #0077ff;
  color: white;
  padding: 90px;
}

section {
  margin: 20px;
  padding: 15px;
  background: white;
  border-radius: 8px;
}

.dark {
  background-color: black;
  color: white;
}

.dark header {
  background: black;
}
